<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center pb-0">
                <h6>Liste des biens</h6>
                <div>
                    <button class="btn btn-primary btn-sm" (click)="openModal()">
                        Créer un bien
                    </button>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Date de creation
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Description
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Tarifs
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Emplacement
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Categorie
                                </th>
                                <th
                                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Etats</th>

                                <th class="text-secondary opacity-7">Actions</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let item of goodsData">
                            <tr>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{item?.initDate |
                                        date}}</span>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{item?.typebien}}</h6>
                                            <p class="text-xs text-secondary mb-0">{{item?.description}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-sm">
                                    <p class="text-xs font-weight-bold mb-0">{{item?.tarifs}}</p>

                                </td>
                                <td class="text-sm">
                                    <p class="text-xs font-weight-bold mb-0">{{item?.emplacement}}</p>

                                </td>
                                <td>

                                    <p class="text-xs text-secondary mb-0">{{item?.categoryBien.libelle}}</p>
                                </td>
                                <td class="align-middle  font-weight-bold text-center text-sm">
                                    <span
                                        [ngClass]="{'text-success': item.etat, 'text-danger': !item.etat}">{{item.etat?
                                        'publié' : 'non publié'}}</span>
                                </td>

                                <td class="align-middle">

                                    <button class="btn btn-outline-primary btn-xs px-4 my-1"
                                        (click)="viewGoodDetail(item)">
                                        Détail
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- le modal pour publier un bien -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">

                        <div class="modal-body">
                            <!-- Add your modal content here -->
                            <!-- <p>This is the content of the modal.</p> -->

                            <!-- accord -->
                            <div class="container accordion-container">

                                <!-- <button type="button" class="btn btn-secondary" (click)="closeModal()">
                                    <i class="mx-2 fa fa-times text-white" ></i>
                                </button> -->
                                <div class="accordion" id="accordionExample">

                                    <form #f="ngForm" class="my-5">

                                        <div class="card" *ngIf="section1Depliable">
                                            <div class="card-header " id="section1">
                                                <h2 class="mb-0 d-flex justify-content-between align-items-center">
                                                    <!-- <button class="btn btn-link custom-button" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="custom-buttoncollapseOne" style="margin-left: -1rem ;">
                                                        Paramètrage du bien
                                                    </button> -->
                                                    <div>
                                                      <h5 class="btn btn-link custom-button">Paramètrage du bien</h5>
                                                    </div>
                                                    <button type="button" class="btn btn-secondary"
                                                        style="margin-left: 18rem;" (click)="closeModal()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="section1"
                                                data-parent="#accordionExample">
                                                <div class="card-body topspace">
                                                    <div class="form-group mb-4">
                                                        <label for="title">Titre</label>
                                                        <input #title="ngModel" [(ngModel)]="good.titre" name="title"
                                                            id="title" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="title.touched && title.invalid">
                                                            Le titre est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="typeBien">Type de bien</label>
                                                        <select #typeBien="ngModel" [(ngModel)]="good.typeBien"
                                                            name="typeBien" id="typeBien"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required>
                                                            <option selected disabled>
                                                                Choissisez le type de logement
                                                            </option>
                                                            <option *ngFor="let typeGood of typeOfGoods"
                                                                [value]="typeGood._id">
                                                                {{ typeGood.libelle }}
                                                            </option>

                                                        </select>
                                                        <div class="" *ngIf="typeBien.touched && typeBien.invalid">
                                                            Le champ type de bien est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="categoryBien">Categorie de bien</label>
                                                        <select #categoryBien="ngModel" [(ngModel)]="good.categoryBien"
                                                            name="categoryBien" id="categoryBien"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required>

                                                            <option *ngFor="let categorielist of categorieList"
                                                                [value]="categorielist._id">
                                                                {{ categorielist.libelle }}
                                                            </option>
                                                            <option [value]="1">
                                                                mofor
                                                            </option>
                                                        </select>
                                                        <div class=""
                                                            *ngIf="categoryBien.touched && categoryBien.invalid">
                                                            Le champ categorie de bien est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="typeVisite">Type Visite</label>

                                                        <select #typeVisite="ngModel" [(ngModel)]="good.typeVisite"
                                                            name="typeVisite" id="typeVisite"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required>
                                                            <option selected disabled>
                                                                Choissisez les types de visite
                                                            </option>
                                                            <option *ngFor="let typevisitelist of typeVisiteList"
                                                                [value]="typevisitelist._id">
                                                                {{ typevisitelist.libelle }}
                                                            </option>

                                                        </select>
                                                        <div class="" *ngIf="typeVisite.touched && typeVisite.invalid">
                                                            Le champ type de visite est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4 topy d-flex justify-content-between">
                                                        <div>

                                                        </div>
                                                        <button
                                                            class="btn btn-primary text-white" (click)="save(f.value)">
                                                            Suivant <i class="mx-2 fa fa-arrow-right text-white"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" *ngIf="section2Completed">
                                            <div class="card-header" id="section2">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link custom-button collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        Détail du bien
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo " class="collapse show" aria-labelledby="section2"
                                                data-parent="#accordionExample">
                                                <div class="card-body topspace">
                                                    <div class="form-group mb-4">
                                                        <label for="description">Description</label>
                                                        <input #description="ngModel" [(ngModel)]="good.description"
                                                            name="description" id="description" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class=""
                                                            *ngIf="description.touched && description.invalid">
                                                            La description est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="commodite">Commodités</label>
                                                        <input #commodite="ngModel" [(ngModel)]="good.commodite"
                                                            name="commodite" id="commodite" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="commodite.touched && commodite.invalid">
                                                            Le champ commodite est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="salleBains">Salle de bains</label>
                                                        <input #salleBains="ngModel" [(ngModel)]="good.salleBains"
                                                            name="salleBains" id="salleBains" type="number"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="salleBains.touched && salleBains.invalid">
                                                            Le champ salle de bain est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="chambres">Chambre</label>
                                                        <input #chambres="ngModel" [(ngModel)]="good.chambres"
                                                            name="chambres" id="chambres" type="number"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="chambres.touched && chambres.invalid">
                                                            Le champ chambre est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4 topy d-flex justify-content-between">
                                                        <div>

                                                        </div>
                                                        <button
                                                            [disabled]="description?.['invalid'] || commodite?.['invalid'] || salleBains?.['invalid'] || chambres?.['invalid']"
                                                            class="btn btn-primary btn-lg text-white"
                                                            (click)="save(f.value)">
                                                            Suivant <i class="mx-2 fa fa-arrow-right text-white"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" *ngIf="section3Completed">
                                            <div class="card-header" id="section3">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link custom-button collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        Nature du bien
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseThree" class="collapse show" aria-labelledby="section3"
                                                data-parent="#accordionExample">
                                                <div class="card-body topspace">
                                                    <div class="form-group mb-4">
                                                        <label for="regle">Règle de maison</label>
                                                        <input #regle="ngModel" [(ngModel)]="good.regle" name="regle"
                                                            id="regle" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="regle.touched && regle.invalid">
                                                            Le champ règle est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="serviceSuplementaire">Service supplémentaire</label>
                                                        <input #serviceSuplementaire="ngModel"
                                                            [(ngModel)]="good.serviceSuplementaire"
                                                            name="serviceSuplementaire" id="serviceSuplementaire"
                                                            type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="
                                                                      serviceSuplementaire.touched && serviceSuplementaire.invalid
                                                                    ">
                                                            Le champ service supplementaire est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="emplacement">Emplacement</label>
                                                        <input #emplacement="ngModel" [(ngModel)]="good.emplacement"
                                                            name="emplacement" id="emplacement" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class=""
                                                            *ngIf="emplacement.touched && emplacement.invalid">
                                                            Le champ emplacement est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="capacite">Capacite</label>
                                                        <input #capacite="ngModel" [(ngModel)]="good.capacite"
                                                            name="capacite" id="capacite" type="number"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="capacite.touched && capacite.invalid">
                                                            Le champ capacite est requis.
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4 topy d-flex justify-content-between">
                                                        <div>

                                                        </div>
                                                        <button
                                                            [disabled]="regle?.['invalid'] || serviceSuplementaire?.['invalid'] || emplacement?.['invalid'] || capacite?.['invalid']"
                                                            class="btn btn-primary btn-lg text-white"
                                                            (click)="save(f.value)">
                                                            Suivant <i class="mx-2 fa fa-arrow-right text-white"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" *ngIf="section4Completed">
                                            <div class="card-header" id="section4">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link custom-button collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        Informations complémentaire
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFour" class="collapse show" aria-labelledby="section4"
                                                data-parent="#accordionExample">
                                                <div class="card-body topspace">
                                                    <div class="form-group mb-4">
                                                        <label for="disponibilte">Disponibilité</label>
                                                        <input #disponibilte="ngModel" [(ngModel)]="good.disponibilte"
                                                            name="disponibilte" id="disponibilte" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class=""
                                                            *ngIf="disponibilte.touched && disponibilte.invalid">
                                                            Le champ disponibilité est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="pays">Pays</label>
                                                        <input #pays="ngModel" [(ngModel)]="good.pays" name="pays"
                                                            id="pays" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="pays.touched && pays.invalid">
                                                            Le champ pays est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="zones">Zones</label>
                                                        <input #zones="ngModel" [(ngModel)]="good.zones" name="zones"
                                                            id="zones" type="text"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="zones.touched && zones.invalid">
                                                            Le champ zone est requis.
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="tarifs">Tarifs</label>
                                                        <input #tarifs="ngModel" [(ngModel)]="good.tarifs" name="tarifs"
                                                            id="tarifs" type="number"
                                                            class="form-control form-control-lg input1 input-have"
                                                            required />
                                                        <div class="" *ngIf="tarifs.touched && tarifs.invalid">
                                                            Le champ tarifs est requis.
                                                        </div>
                                                    </div>


                                                    <div class="form-group mb-4 topy d-flex justify-content-between">
                                                        <div>

                                                        </div>
                                                        <button
                                                            [disabled]="disponibilte?.['invalid'] || pays?.['invalid'] || zones?.['invalid'] || tarifs?.['invalid']"
                                                            class="btn btn-primary btn-lg text-white"
                                                            (click)="save(f.value)">
                                                            Suivant <i class="mx-2 fa fa-arrow-right text-white"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" *ngIf="section5Completed">
                                            <div class="card-header" id="section5">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link custom-button collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">
                                                        Pièce jointes
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseFive" class="collapse show" aria-labelledby="section5"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div class="form-group mb-4 ">
                                                        <label for="atouts">Atouts</label>
                                                        <ng-select (change)="onChangeAtouts($event)"
                                                            [items]="atoutsList" bindLabel="libelle"
                                                            bindValue="atoutsList._id" [multiple]="true"
                                                            placeholder="cliquez ici pour selectionnez vos atouts">
                                                        </ng-select>
                                                    </div>
                                                    <div class="form-group mb-4 ">
                                                        <label for="properties">Propriétés</label>
                                                        <ng-select (change)="onChangeProperties($event)"
                                                            [items]="propertiesList" bindLabel="libelle"
                                                            bindValue="propertiesList._id" [multiple]="true"
                                                            placeholder="cliquez ici pour selectionnez vos propriétés">
                                                        </ng-select>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <label for="photos">Photo</label>
                                                        <div class="input-group">
                                                            <div class="input-group mb-4">
                                                                <input name="photos" value="filteredArray" type="file"
                                                                    id="file" accept="image/png, image/jpeg, image/jpg"
                                                                    (change)="chargerPdf($event)"
                                                                    class="form-control form-control-lg input1 input-have"
                                                                    style="height: 2.6rem;" />

                                                                <button class="btn btn-primary px-4"
                                                                    [disabled]="!fileActiveBool" type="button"
                                                                    (click)="uploadFiles()">
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-4 topy d-flex justify-content-between">
                                                        <div>

                                                        </div>
                                                        <button [disabled]="!section5Completed || !ifFileIsUpload"
                                                            class="btn btn-primary text-white" (click)="save(f.value)">
                                                            Terminer
                                                            <span *ngIf="loading === true">
                                                                <span class="spinner-border spinner-border-sm"
                                                                    role="status" aria-hidden="true"></span>
                                                                <span class="visually-hidden">Loading...</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- fin accord -->
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                            <button type="button" class="btn btn-success" [disabled]="!section5Completed || !ifFileIsUpload"
                                (click)="save(f.value)" style="color:white">Save changes</button>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- fin du modal pour publier un bien  -->

        </div>
    </div>
</div>

<!-- spinner section -->
<section>
    <div class="d-flex justify-content-center " *ngIf="isLoading">
        <div class="loading-overlay">
            <div class="loading-spinner"></div>
            <div class="loading-message mx-5"> Chargement en cours...</div>
        </div>
    </div>
</section>
