// .small-input {
//     width: 600px;
//   }

    .custom-button{
        margin-left: -1rem ;
    }
    .accordion-container {
        max-width: 600px;
        /* Adjust the value as per your requirement */
        margin-left: 10;
        margin-top: 7rem;
    }
    .topspace{
        margin-top: -3rem;
    }
    .table {
        border-collapse: separate; 
        border-spacing: 0; /* Set spacing between cells to zero */
      }