<main class="main-content mt-0 bg-white">
  <section [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto"
          >
            <div class="card card-plain">
              <div class="card-header pb-0 text-start">
                <h4 class="font-weight-bolder">Connexion</h4>
                <p class="mb-0">
                  Entrer votre email et password pour se connecter
                </p>
              </div>
              <div class="card-body">
                <form role="form">
                  <div class="mb-3">
                    <input type="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" formControlName="email"
                      [ngClass]="
                                          email?.['invalid']&&
                                          email?.['touched']?'form-select is-invalid':'form-select'
                                          " />
                  </div>
                  <div *ngIf=" loginForm.get('email')?.['touched'] && loginForm.get('email')?.hasError('invalidInput')" >
                    Convention de mail non respecté
                 </div>
                  <div class="mb-3">
                    <input type="password" class="form-control form-control-lg" placeholder="Mot de passe" aria-label="Password"
                      formControlName="password" [ngClass]="
                                                password?.['invalid']&&
                                                password?.['touched']?'form-select is-invalid':'form-select'
                                                " />
                  </div>
                  <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                    Le mot de passe doit être au minimum
                    {{loginForm.get('password')?.errors?.['minlength'].requiredLength}} caractères.
                  </div>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="rememberMe"
                    />
                    <label class="form-check-label" for="rememberMe"
                      >Se souvenir</label
                    >
                  </div>
                  <div class="text-center">
                    <!-- <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" type="button"
                      class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">
                      Connexion
                    </a> -->
                    <button  
                      [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" [ngStyle]="{'color':'white'}">
                      Connexion
                    </button>
                  </div>
                </form>
              </div>
              <!-- <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Don't have an account?
                  <a
                    href="javascript:;"
                    class="text-primary text-gradient font-weight-bold"
                    >Sign up</a
                  >
                </p>
              </div> -->
            </div>
          </div>
          <div
            class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column"
          >
            <div
              class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden"
              style="
                background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
                background-size: cover;
              "
            >
              <span class="mask bg-gradient-primary opacity-6"></span>
              <h4 class="mt-5 text-white font-weight-bolder position-relative">
                "K-DI Immobilier"
              </h4>
              <p class="text-white position-relative">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                quas ex quia similique incidunt? Eaque odio accusantium corporis
                rerum id!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
