<!-- <div class="min-height-300 bg-primary position-absolute w-100" >

</div> -->
<div class="row">

</div>
<div class="row mt-4">


</div>
<div class="user-info">
    <div class="d-flex justify-content-between">
        <h6 class="mb-2">Informations du bien </h6>
    </div>
    
    <div class="info">
        <span class="info-label">Type de bien:</span>
        <span class="info-value">Immobilier</span>
    </div>
    <div class="info">
        <span class="info-label">Emplacement:</span>
        <span class="info-value">Agoe cacaveli</span>
    </div>
    
    <div class="info">
        <span class="info-label">Type de visite:</span>
        <span class="info-value">gratuit</span>
    </div>
    <div class="info">
        <span class="info-label">Disponibilite:</span>
        <span class="info-value">en usage</span>
    </div>
    <div class="info">
        <span class="info-label">Tarifs:</span>
        <span class="info-value">500000</span>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
        <div *ngFor="let element of photoArray; let i=index" class="carousel-item {{i == 0 ? 'active': ''}}">
            <img [src]="apiUrl + element" class="img-fluid img-product d-block w-25" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 
