.user-info {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
   margin-top:50px;

}

.info-label {
    margin-right: 20px;
}

.info-value {
    margin-bottom: 5px;
        font-weight: bold;
}